.task {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;
    padding: 1em;
    margin: 1em;

    font-size: 1.5em;
    text-align: center;

    background-color: rgba(175, 193, 231, 0.144);
    border-radius: 0.2em;
}

.delete {

    font-size: 0.8em;
}