/* .todoListContainer {
  display: flex;
  align-items: center;
  flex-direction: column; 

  width: 70%
} */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;

  width: 70%;
}

input {
  width: 100%;
  height: 1em;
  padding: 20px;

  font-size: 1em;
  text-align: center;
}

.main {
  width: 100%;
  height: 100vh;

  margin-top: 3em;
  
  border: 4px solid rgba(0, 0, 0, 0.2);
}